*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-icon-back{
    padding: 20px;
}

.div-icon-back i{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.addFormRegister{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card-condiciones-register{
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-condiciones-register h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.conteiner-condiciones{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-top: 4px solid rebeccapurple;
}

@media (max-width:700px){
    .conteiner-condiciones{
        padding: 10px;
    }
}

.conteiner-condiciones p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    background-image: url(./assets/fondo-register.jpg);
    background-size: 260%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    height: 500px;
    max-width: 340px;
    min-width: 300px;
    background-position: 100%;
}

.hidden{
    display: none;
}


.div-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    padding: 5px;
    text-transform: uppercase;
}

.div-h1 h1{
    font-size: 29px;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.conteiner-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;    
}

.div-inp-individual{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 10px ;
}

.valida{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: green;
    display: none;
    margin: 4px;
}

.invalida{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    display: none;
    margin: 4px;
}

.flex{
    display: flex;
}

.conteiner-inputs input{
    text-align: center;
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    color: black;
}

.div-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.div-btn input{
    font-size: 18px;
    padding: 15px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: rebeccapurple;
    color: rgb(255, 255, 255);
    transition: 1s all;
    cursor: pointer;
    border: none;
}

.div-btn input:hover{
    box-shadow: rgba(0, 81, 255, 0.4) 5px 5px, rgba(6, 1, 255, 0.3) 10px 10px, rgba(4, 0, 255, 0.2) 15px 15px, rgba(86, 88, 219, 0.1) 20px 20px, rgba(38, 12, 185, 0.05) 25px 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 53, 54);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    padding: 10px;
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: brown;
}

